.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e6e6e6;
   }
   
   .navbar-brand {
    color: #2a2a2a;
   }
   
   .navbar-list {
    display: flex;
    list-style-type: none;
    padding: 0;
   }
   
   .navbar-item {
    color: #7a7a7a;
    margin-left: 20px;
   }
   
   .navbar-item:hover {
    color: #2a2a2a;
   }
   
   .navbar-actions {
    display: flex;
    align-items: center;
   }
   
   .navbar-actions .navbar-item img {
    width: 30px;
    height: 30px;
   }
   input[name='avatar']{
    display: none;
}